<div class="popup popup__confirmation popup__confirmation-delete">
    <div class="popup__confirmation__content">
        <div class="popup__confirmation__upper">
            <h3 class="popup__confirmation__title">Delete Confirmation</h3>
            <a href="#" class="popup__close__button">
                <svg class="popup__close__icon">
                    <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
                </svg>
            </a>
        </div>
        <div class="popup__confirmation__bottom">
            <div class="popup__confirmation__text">
                <h4 class="popup__confirmation__message">
                    Are you sure to
                    <strong>delete</strong> this data ? This action can't be undone. To perform this action, please click
                    <strong>Confirm</strong>.
                </h4>
            </div>
            <div class="popup__confirmation__button">
                <div class="btn btn--popup btn--blue btn-confirmation-confirm">Confirm</div>
                <div class="btn btn--popup btn--blue btn-confirmation-cancel">Cancel</div>
            </div>
        </div>
    </div>
</div>