<div class="popup popup__asset__request__note">
    <div class="popup__asset__request__note__section">
        <div class="popup__asset__request__note__upper">
            <h3 class="popup__asset__request__note__title">Request Note</h3>
            <a href="#" class="popup__close__button">
                <svg class="popup__close__icon">
                    <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
                </svg>
            </a>
        </div>
        <div class="popup__asset__request__note__bottom">
            <div class="popup__asset__request__note__header">
                <div class="popup__asset__request__note__header__name">Name</div>
                <div class="popup__asset__request__note__header__qty">Qty</div>
                <div class="popup__asset__request__note__header__note">Request Note</div>
            </div>

            <div class="popup__asset__request__note__contents">

            </div>

            <div class="popup__asset__request__note__button">
                <div class="btn btn--popup btn--blue btn-confirmation-submit">Submit All Request</div>
                <div class="btn btn--popup btn--blue btn-confirmation-cancel">Cancel</div>
            </div>
        </div>
    </div>
</div>
