<div class="popup popup__confirmation popup__transaction__note">
    <div class="popup__confirmation__content">
        <div class="popup__confirmation__upper">
            <h3 class="popup__confirmation__title">Transaction Note</h3>
            <a href="#" class="popup__close__button">
                <svg class="popup__close__icon">
                    <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
                </svg>
            </a>
        </div>
        <div class="popup__confirmation__bottom">
            <div class="popup__confirmation__text">
                <h4 class="popup__confirmation__message">
                    To continue this action, please input the transaction note that describe the information about this transaction (max 150 words).
                </h4>
            </div>
            <div class="popup__confirmation__note">
                <textarea class="popup__confirmation__textarea" rows="3" cols="70"></textarea>
            </div>
            <div class="popup__confirmation__button">
                <div class="btn btn--huge btn--blue btn-confirmation-change-status">Change Status</div>
                <div class="btn btn--huge btn--blue btn-confirmation-cancel">Cancel</div>
            </div>
            
        </div>
       
    </div>
</div>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../assets/js/component/popup.js"></script>