<div class="popup popup__transaction__notes">
    <div class="popup__transaction__notes__section">
        <div class="popup__transaction__notes__upper">
            <h3 class="popup__transaction__notes__title">Transaction Note</h3>
            <a href="#" class="popup__close__button">
                <svg class="popup__close__icon">
                    <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
                </svg>
            </a>
        </div>
        <div class="popup__transaction__notes__bottom">
            <div class="popup__transaction__notes__text">
                <h4 class="popup__transaction__notes__message">
                    To continue this action, please input the transaction note that describe the information about this transaction (max 150 words).
                </h4>
            </div>
            <div class="popup__transaction__notes__notes">
                <textarea class="popup__transaction__notes__textarea" rows="5" cols="80"></textarea>
            </div>
            <div class="popup__transaction__notes__button">
                <div class="btn btn--popup btn--blue btn-confirmation-change-status">Change Status</div>
                <div class="btn btn--popup btn--blue btn-confirmation-cancel">Cancel</div>
            </div>
            
        </div>
       
    </div>
</div>
