<div class="popup popup__confirmation popup__confirmation-accept">
    <div class="popup__confirmation__content">
        <div class="popup__confirmation__upper">
            <h3 class="popup__confirmation__title">Accept Confirmation</h3>
            <a href="#" class="popup__close__button">
                <svg class="popup__close__icon">
                    <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
                </svg>
            </a>
        </div>
        <div class="popup__confirmation__bottom">
            <div class="popup__confirmation__text">
                <h4 class="popup__confirmation__message">
                    Are you sure to
                    <strong>accept</strong> this request ? This action can't be undone. To perform this action, please click
                    <strong>Confirm</strong>.
                </h4>
            </div>
            <div class="popup__confirmation__button">
                <div class="btn btn--small btn--blue" id="btn-confimation-confirm">Confirm</div>
                <div class="btn btn--small btn--blue" id="btn-confimation-cancel">Cancel</div>
            </div>
        </div>
    </div>
</div>