* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #555555;
  min-height: 100vh;
  background-color: #F7F7F7; }

.content {
  display: flex; }

.section {
  background-color: #fff;
  padding: 3rem 4.5rem;
  border-radius: 3rem; }

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem; }

.main-content:not(:last-child) {
  margin-bottom: 2rem; }

.center {
  left: 50%;
  transform: translate(-50%, 0%); }

.hidden {
  display: none; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Palanquin";
  src: url("../fonts/Palanquin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Palanquin";
  src: url("../fonts/") format("truetype");
  font-weight: 700;
  font-style: normal; }

.title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #555555;
  font-family: "Palanquin", sans-serif; }
  .title-small {
    font-size: 1.45rem;
    margin-bottom: .5rem; }

.subtitle {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin: 1.5rem 0; }

.content-text {
  font-size: 1.6rem;
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 1.8rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  outline: none; }

.btn--huge {
  font-weight: 600;
  font-size: 5rem;
  padding: 3.5rem 5rem; }

.btn--big {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1.5rem 3rem; }

.btn--medium {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem 2.5rem; }

.btn--small {
  font-weight: 300;
  font-size: 1.2rem;
  padding: .5rem 1.2rem; }

.btn--blue {
  background-color: #0095DA;
  color: #fff;
  font-family: "Palanquin", sans-serif; }

.btn--white {
  background-color: #fff;
  color: #0095DA;
  font-family: "Palanquin", sans-serif;
  border: solid 0.1rem #0095DA; }

.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1.5rem 0 0; }

.btn__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem; }

.action-icon {
  width: 2rem;
  height: 2rem; }
  .action-icon-blue {
    fill: #0095DA; }
  .action-icon-accept {
    width: 2.5rem;
    height: 2.5rem;
    fill: #0095DA; }
  .action-icon-reject {
    width: 1.9rem;
    height: 1.9rem;
    fill: #F12020; }
  .action-icon-in-btn-blue {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .4rem;
    fill: #fff; }
  .action-icon-in-btn-white {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .4rem;
    fill: #0095DA; }

.cancel__text:link,
.cancel__text:visited {
  margin-left: 1rem;
  color: #F12020;
  text-decoration: none;
  font-family: "Palanquin", sans-serif;
  font-size: 1.4rem;
  font-weight: 700; }
  .cancel__text:link:hover, .cancel__text:link:active,
  .cancel__text:visited:hover,
  .cancel__text:visited:active {
    text-decoration: underline; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit; }
  .form__username, .form__password {
    width: 60%; }
  .form__input-big {
    border-radius: 10rem;
    padding: 1.5rem 2rem;
    border: solid 1px #c8c8c8;
    font-size: 1.5rem;
    color: inherit;
    width: 100%;
    margin-bottom: 3rem; }
    .form__input-big:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input-small {
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    border: solid 1px #c8c8c8;
    font-size: 1.5rem;
    color: inherit;
    width: 100%;
    margin-bottom: 1.5rem; }
    .form__input-small:focus {
      outline: #0095DA; }

.pagination {
  display: flex;
  margin: 3.3rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }
    .pagination ul li {
      color: #0095DA;
      display: flex; }
      .pagination ul li.activate a {
        background-color: #0095DA;
        color: #fff;
        font-weight: 600; }
      .pagination ul li:first-child a {
        border-radius: 0.5rem 0 0 0.5rem; }
      .pagination ul li:last-child a {
        border-radius: 0 5px 5px 0;
        border-right: 0.1rem solid #0095DA; }
      .pagination ul li a {
        background-color: #fff;
        padding: 0.5rem 1rem;
        border: 0.1rem solid #0095DA;
        border-right: 0;
        font-size: 1.05rem; }
        .pagination ul li a:hover {
          cursor: pointer; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; }
  .popup__confirmation__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s;
    border-radius: 10rem; }
  .popup__confirmation__upper {
    background-color: #0095DA;
    border-top-left-radius: 8rem;
    border-top-right-radius: 8rem;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .popup__confirmation__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%; }
  .popup__confirmation__title {
    font-size: 7rem;
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 3.5rem 8rem;
    letter-spacing: .2rem; }
  .popup__confirmation__text {
    width: 100%;
    display: flex;
    justify-content: center; }
  .popup__confirmation__message {
    font-family: "Open Sans", sans-serif;
    color: #555555;
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    padding: 0 10rem; }
  .popup__confirmation__button {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
  .popup__close__icon {
    width: 7rem;
    height: 7rem;
    fill: #F12020; }
  .popup__close__button {
    padding-right: 8rem; }

.search {
  margin-top: 2rem;
  border-radius: 10rem;
  border: solid 0.1rem #0095DA;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center; }
  .search__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #0095DA;
    margin-right: 1rem; }
  .search__input {
    border: none;
    font-family: "Palanquin", sans-serif;
    color: #0095DA;
    padding-right: 1.5rem; }
    .search__input::placeholder {
      font-family: "Palanquin", sans-serif;
      color: #0095DA; }
    .search__input:focus {
      outline: none; }

.table-title {
  font-size: 1.6rem; }
  .table-title-new-request-admin {
    margin-top: 2rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1rem; }
    .table-title-new-request-admin-name {
      grid-column: 1/span 3; }
    .table-title-new-request-admin-asset {
      grid-column: 4/span 3; }
    .table-title-new-request-admin-qty {
      grid-column: 7/span 1; }
    .table-title-new-request-admin-note {
      grid-column: 8/span 4; }
  .table-title-asset-admin, .table-title-employee-admin {
    margin-top: 2rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr); }
    .table-title-asset-admin-no, .table-title-employee-admin-no {
      grid-column: 1; }
    .table-title-asset-admin-name, .table-title-employee-admin-name {
      grid-column: 2/span 3; }
    .table-title-asset-admin-brand, .table-title-employee-admin-brand {
      grid-column: 5/span 3; }
    .table-title-asset-admin-type, .table-title-employee-admin-type {
      grid-column: 8/span 3; }
    .table-title-asset-admin-location, .table-title-employee-admin-location {
      grid-column: 11/span 2; }
    .table-title-asset-admin-qty, .table-title-employee-admin-qty {
      grid-column: 13/span 2; }
    .table-title-asset-admin-view, .table-title-employee-admin-view {
      grid-column: 14; }
    .table-title-asset-admin-edit, .table-title-employee-admin-edit {
      grid-column: 15; }

.table-content-new-request-admin-list {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem; }

.table-content-new-request-admin-name {
  grid-column: 2/span 2; }

.table-content-new-request-admin-asset {
  grid-column: 4/span 3; }

.table-content-new-request-admin-qty {
  grid-column: 7/span 1; }

.table-content-new-request-admin-note {
  grid-column: 8/span 4;
  grid-column: 8/span 4;
  line-height: 1.4rem;
  font-size: 1.2rem; }

.table-content-new-request-admin-icon {
  display: flex;
  align-items: center;
  justify-content: center; }

.table-content-asset-admin-list, .table-content-employee-admin-list {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem; }

.table-content-asset-admin-no, .table-content-employee-admin-no {
  grid-column: 1; }

.table-content-asset-admin-name, .table-content-employee-admin-name {
  grid-column: 2/span 3; }

.table-content-asset-admin-brand, .table-content-employee-admin-brand {
  grid-column: 5/span 3; }

.table-content-asset-admin-type, .table-content-employee-admin-type {
  grid-column: 8/span 3; }

.table-content-asset-admin-location, .table-content-employee-admin-location {
  grid-column: 11/span 2; }

.table-content-asset-admin-qty, .table-content-employee-admin-qty {
  grid-column: 13/span 2; }

.table-content-asset-admin-icon, .table-content-employee-admin-icon {
  display: flex;
  align-items: center;
  justify-content: center; }

hr {
  grid-column: 1/-1;
  grid-row: 2;
  border-width: .05rem; }

.sidebar {
  width: 20vw; }
  .sidebar__part {
    display: flex;
    flex-flow: column;
    align-items: start;
    height: inherit;
    background-color: #fff;
    min-height: 88vh; }
  .sidebar__menu {
    list-style: none;
    margin-top: 1.8rem; }
  .sidebar__content {
    display: flex;
    align-items: center; }
    .sidebar__content:not(:last-child) {
      margin-bottom: .5rem; }
    .sidebar__content:hover a,
    .sidebar__content:hover svg {
      color: #0095DA;
      fill: #0095DA; }
  .sidebar__link:link, .sidebar__link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #555555;
    padding: 1.2rem 3rem; }
  .sidebar__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    fill: #555555; }

.active {
  color: #0095DA;
  fill: #0095DA; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  height: 12vh;
  background-color: #fff; }
  .navbar__user {
    display: flex;
    align-items: center; }

.logo__pic {
  height: 4rem; }

.user__name {
  font-size: 1.5rem; }

.user__pic {
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
  border-radius: 100%; }

.asset {
  width: 70vw; }
  .asset__upper {
    display: flex;
    justify-content: space-between; }
  .asset__middle {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem; }
    .asset__middle__checkbox-all {
      margin-right: 1.2rem; }
  .asset__action__button {
    display: flex; }
  .asset__add__content, .asset__detail__content, .asset__edit__content {
    display: flex;
    align-content: center;
    justify-content: space-between; }
  .asset__add__form, .asset__detail__form, .asset__edit__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.5rem;
    margin: 2rem 0 2.5rem; }
  .asset__detail__table {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-column-gap: 5rem;
    margin: 2rem 0 2.5rem; }
  .asset__detail__action__btn {
    display: flex;
    flex-flow: column; }
    .asset__detail__action__btn:not(:last-child) {
      margin: 0.5rem; }
    .asset__detail__action__btn__upper {
      display: flex; }
  .asset__upload__file {
    position: absolute;
    opacity: 0;
    visibility: hidden; }
    .asset__upload__file + label {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0095DA;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem;
      background-color: rgba(200, 200, 200, 0.5); }
  .asset__upload__btn {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .8rem;
    fill: #0095DA; }
  .asset__preview {
    width: 320px;
    height: 320px;
    position: relative;
    background-image: url("../../../assets/img/assets/noimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.table-content-asset-admin-edit {
  display: none; }

.status__content {
  display: flex;
  justify-content: space-around; }
  .status__content__detail {
    display: flex;
    align-items: center; }

.status__number {
  font-size: 4rem;
  color: #0095DA;
  margin-right: 1.5rem; }

.status__text {
  font-size: 1.8rem;
  width: 12rem; }

.new-request {
  background-color: #fff;
  padding: 3rem 4.5rem;
  border-radius: 3rem;
  margin-top: 2rem; }
  .new-request__top {
    display: flex;
    align-items: center; }
  .new-request__notif {
    font-size: 1.3rem;
    background-color: #0095DA;
    padding: 0.3rem 1.8rem;
    border-radius: 10rem;
    color: #fff;
    margin-left: 1rem; }

.employee {
  width: 70vw; }
  .employee__upper {
    display: flex;
    justify-content: space-between; }
  .employee__middle {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem; }
    .employee__middle__checkbox-all {
      margin-right: 1.2rem; }
  .employee__action-button {
    display: flex; }
  .employee__add-content, .employee__detail-content, .employee__edit-content {
    display: flex;
    align-content: center;
    justify-content: space-between; }
  .employee__add-form, .employee__detail-form, .employee__edit-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.5rem;
    margin: 2rem 0 2.5rem; }
  .employee__detail-table {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-column-gap: 5rem;
    margin: 2rem 0 2.5rem; }
  .employee__detail__sku {
    grid-column: 1/-1; }
  .employee__detail-action-btn {
    display: flex;
    flex-flow: column; }
    .employee__detail-action-btn-upper {
      display: flex; }
  .employee__upload-file {
    position: absolute;
    opacity: 0;
    visibility: hidden; }
    .employee__upload-file + label {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0095DA;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem;
      background-color: rgba(200, 200, 200, 0.5); }
  .employee__upload-btn {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .8rem;
    fill: #0095DA; }
  .employee__preview {
    width: 320px;
    height: 320px;
    position: relative;
    background-image: url("../img/employees/noimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden; }

.login__pic {
  height: 100vh;
  width: 60vw; }

.login__form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login__logo {
  height: 8rem; }

.logo__text {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Palanquin", sans-serif;
  margin-bottom: 4rem; }

.login__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*------Login Error------*/
.login__error {
  background-color: #DB4C4C;
  padding: 1.1rem 1.6rem;
  width: 60%;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 0.5rem rgba(85, 85, 85, 0.1);
  display: none; }

.login__error__message {
  color: #F7F7F7;
  font-size: 1.25rem;
  line-height: 1.4rem;
  font-family: "Palanquin", sans-serif;
  text-align: center; }

.form__input-error {
  border: solid 1px #E83636; }
