<link rel="stylesheet" href="../components/dashboardNewAssetRequest/dashboardNewAssetRequest.css">
<div class="new-request">
        <div class="new-request__top">
            <h2 class="title new-request__title">New Asset Request</h2>
            <p class="new-request__notif">5</p>
        </div>
        <div class="new-request__down">
            <div class="table-request">
                <div class="table-title table-title-name">Name</div>
                <div class="table-title table-title-asset">Requested Asset</div>
                <div class="table-title table-title-qty">Qty</div>
                <div class="table-title table-title-note">Notes</div>
                <div class="table-title table-title-accept"></div>
                <div class="table-title table-title-reject"></div>
                <hr>
            </div>   
                <div class="table-request-list" id="table-request-list-id">
                    <div class="table-content table-content-photo">
                            <img src="../assets/img/user.jpg" alt="photo" class="user__pic">
                    </div>
                    <div class="table-content table-content-name" id="asset-request-employee--1">Steven Tan</div>
                    <div class="table-content table-content-asset" id="asset-request-asset--1">Laptop</div>
                    <div class="table-content table-content-qty" id="asset-request-qty--1">21</div>
                    <div class="table-content table-content-note" id="asset-request-note--1">As a global concierge that provides best-in-class products and superior services to the shipping and offshore industry, we strive to create solutions.</div>
                    <div class="table-content table-content-icon table-content-icon-accept" id="asset-request-accept">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-accept">
                                <path d="M30.331 4.917l-18.83 18.83-9.833-9.833-1.669 1.669 11.502 11.501 20.498-20.498z"></path>
                            </svg>
                    </div>
                    <div class="table-content table-content-icon table-content-icon-reject" id="asset-request-reject">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-reject">     
                                <path d="M32 1.979l-1.979-1.979-14.021 14.021-14.021-14.021-1.979 1.979 14.021 14.021-14.021 14.021 1.979 1.979 14.021-14.021 14.021 14.021 1.979-1.979-14.021-14.021z"></path>
                            </svg>   
                    </div>
                </div>  
                <div class="table-request-list" id="table-request-list-id">
                    <div class="table-content table-content-photo">
                            <img src="../assets/img/user.jpg" alt="photo" class="user__pic">
                    </div>
                    <div class="table-content table-content-name" id="asset-request-employee--1">Steven Tan</div>
                    <div class="table-content table-content-asset" id="asset-request-asset--1">Laptop</div>
                    <div class="table-content table-content-qty" id="asset-request-qty--1">21</div>
                    <div class="table-content table-content-note" id="asset-request-note--1">As a global concierge that provides best-in-class products and superior services to the shipping and offshore industry, we strive to create solutions.</div>
                    <div class="table-content table-content-icon table-content-icon-accept" id="asset-request-accept">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-accept">
                                <path d="M30.331 4.917l-18.83 18.83-9.833-9.833-1.669 1.669 11.502 11.501 20.498-20.498z"></path>
                            </svg>
                    </div>
                    <div class="table-content table-content-icon table-content-icon-reject" id="asset-request-reject">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-reject">     
                                <path d="M32 1.979l-1.979-1.979-14.021 14.021-14.021-14.021-1.979 1.979 14.021 14.021-14.021 14.021 1.979 1.979 14.021-14.021 14.021 14.021 1.979-1.979-14.021-14.021z"></path>
                            </svg>   
                    </div>
                </div>  
                <div class="table-request-list" id="table-request-list-id">
                    <div class="table-content table-content-photo">
                            <img src="../assets/img/user.jpg" alt="photo" class="user__pic">
                    </div>
                    <div class="table-content table-content-name" id="asset-request-employee--1">Steven Tan</div>
                    <div class="table-content table-content-asset" id="asset-request-asset--1">Laptop</div>
                    <div class="table-content table-content-qty" id="asset-request-qty--1">21</div>
                    <div class="table-content table-content-note" id="asset-request-note--1">As a global concierge that provides best-in-class products and superior services to the shipping and offshore industry, we strive to create solutions.</div>
                    <div class="table-content table-content-icon table-content-icon-accept" id="asset-request-accept">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-accept">
                                <path d="M30.331 4.917l-18.83 18.83-9.833-9.833-1.669 1.669 11.502 11.501 20.498-20.498z"></path>
                            </svg>
                    </div>
                    <div class="table-content table-content-icon table-content-icon-reject" id="asset-request-reject">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-reject">     
                                <path d="M32 1.979l-1.979-1.979-14.021 14.021-14.021-14.021-1.979 1.979 14.021 14.021-14.021 14.021 1.979 1.979 14.021-14.021 14.021 14.021 1.979-1.979-14.021-14.021z"></path>
                            </svg>   
                    </div>
                </div>  
                <div class="table-request-list" id="table-request-list-id">
                    <div class="table-content table-content-photo">
                            <img src="../assets/img/user.jpg" alt="photo" class="user__pic">
                    </div>
                    <div class="table-content table-content-name" id="asset-request-employee--1">Steven Tan</div>
                    <div class="table-content table-content-asset" id="asset-request-asset--1">Laptop</div>
                    <div class="table-content table-content-qty" id="asset-request-qty--1">21</div>
                    <div class="table-content table-content-note" id="asset-request-note--1">As a global concierge that provides best-in-class products and superior services to the shipping and offshore industry, we strive to create solutions.</div>
                    <div class="table-content table-content-icon table-content-icon-accept" id="asset-request-accept">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-accept">
                                <path d="M30.331 4.917l-18.83 18.83-9.833-9.833-1.669 1.669 11.502 11.501 20.498-20.498z"></path>
                            </svg>
                    </div>
                    <div class="table-content table-content-icon table-content-icon-reject" id="asset-request-reject">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-reject">     
                                <path d="M32 1.979l-1.979-1.979-14.021 14.021-14.021-14.021-1.979 1.979 14.021 14.021-14.021 14.021 1.979 1.979 14.021-14.021 14.021 14.021 1.979-1.979-14.021-14.021z"></path>
                            </svg>   
                    </div>
                </div>  
                <div class="table-request-list" id="table-request-list-id">
                    <div class="table-content table-content-photo">
                            <img src="../assets/img/user.jpg" alt="photo" class="user__pic">
                    </div>
                    <div class="table-content table-content-name" id="asset-request-employee--1">Steven Tan</div>
                    <div class="table-content table-content-asset" id="asset-request-asset--1">Laptop</div>
                    <div class="table-content table-content-qty" id="asset-request-qty--1">21</div>
                    <div class="table-content table-content-note" id="asset-request-note--1">As a global concierge that provides best-in-class products and superior services to the shipping and offshore industry, we strive to create solutions.</div>
                    <div class="table-content table-content-icon table-content-icon-accept" id="asset-request-accept">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-accept">
                                <path d="M30.331 4.917l-18.83 18.83-9.833-9.833-1.669 1.669 11.502 11.501 20.498-20.498z"></path>
                            </svg>
                    </div>
                    <div class="table-content table-content-icon table-content-icon-reject" id="asset-request-reject">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" class="action-button action-button-reject">     
                                <path d="M32 1.979l-1.979-1.979-14.021 14.021-14.021-14.021-1.979 1.979 14.021 14.021-14.021 14.021 1.979 1.979 14.021-14.021 14.021 14.021 1.979-1.979-14.021-14.021z"></path>
                            </svg>   
                    </div>
                </div>
                
             
        </div>
    </div>