@import url("../../assets/css/base.css");
.new-request{ 
    background-color: var(--color-white);
    padding: 3rem 4.5rem;
    border-radius: 3rem;
    margin-top: 2rem;
}


.form__input-error{
    border: solid 1px var(--color-red-light-1);

}

.table-request{
    margin-top: 2rem;
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1rem;
}

.table-request-list{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    align-items: center;
}

hr{
   grid-column: 1/-1;
   grid-row:2;
   border-width: .05rem;
}

.table-title{
    font-size: 1.6rem;
}



.table-title-name,
{
    grid-column: 1/span 3;
    
}

.table-content-name{
    grid-column: 1/span 1;
}


.table-content-name{
    grid-column: 2/span 2;
}
.table-title-asset,
.table-content-asset{
    grid-column:4/span 3;
    
}

.table-title-qty,
.table-content-qty{
    grid-column: 7/span 1;
    
}
.table-title-note,
.table-content-note{
    grid-column:8/span 4;
}

.table-content-note{
    grid-column:8/span 4;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.table-title-name,
.table-title-asset,
.table-title-qty,
.table-title-note{
    grid-row:1;
}

.table-content-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button{
    width: 2rem;
    height: 2rem;
}

.action-button-accept{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
}

.action-button-reject{
    width: 1.9rem;
    height: 1.9rem;
    fill: var(--color-red-dark);
}

