<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../../assets/img/favicon.png">

    <title>OASIS &mdash; Office Asset Inventory System</title>
</head>

<body>
    <section class="section__password change__password">
        <div class="change__password__img">
            <img src="../../assets/img/oasis-tiny-blue.jpg" alt="" class="change__password__pic">
        </div>
        <div class="change__password__content">
            <div class="cta-button asset__action__button">
                <div class="btn btn--medium btn-with-icon btn--blue btn__back">
                    <svg class="action-icon-in-btn-blue">
                        <use xlink:href="../../assets/img/sprite.svg#icon-left-arrow"></use>
                    </svg>
                    <span>Back</span>
                </div>
            </div>

            <div class="change__password__header">
                <h1 class="change__password__heading">Change Password</h1>
                <p class="change__password__text">
                    Please input your old password to authenticate that you are the real owner of this account. Choose a strong alphanumeric password to secure your account and don't reuse it for others accounts  
                </p>
            </div>

            <form action="#" class="change__password__form">
                <div class="change__password__error">
                    <p class="change__password__error__message"></p>
                </div>
                <div class="form__old__pasword">
                    <input type="password" class="form__input-medium" placeholder="Enter your last password" id="old__password"
                        required>
                </div>
                <div class="form__new__pasword">
                    <input type="password" class="form__input-medium" placeholder="Enter your new password" id="new__password"
                        required>
                </div>
    
                <div class="form__confirm__pasword">
                    <input type="password" class="form__input-medium" placeholder="Re-enter your new password" id="confirm__password"
                        required>
                </div>
            </form>

            <div class="btn btn--medium btn-with-icon btn--blue change__password__btn__next">Next    
                <svg class="action-icon-in-btn-blue-left">
                    <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
                </svg>
            </div>

        </div>
    </section>
</body>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="module" src="../../assets/js/changePassword/changePassword.js"></script>
<script type="module" src="../../assets/js/base.js"></script>
</html>