.change__password{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &__pic{
        height: 100vh;
    }

    &__content{
        display: flex;
        flex-flow: column;
        padding: 4rem 8rem;
    }

    &__heading{
        margin-top: 3rem ;
        font-size: 3.5rem;
        font-family: $font-title;
        font-weight: 650;
    }

    &__text{
        font-size: 1.5rem;
        margin:2rem 0 3.5rem 0;
    }

    &__btn__next{
        align-self: flex-end;
        margin: 0;
    }

    &__error{
        background-color: $color-red-light-2;
        padding: 1.1rem 1.6rem;
        margin-bottom: 1.5rem;
        border-radius: 10px;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__error__message{
        color:$color-grey-light-1;
        font-size: 1.25rem;
        line-height: 1.4rem;
        font-family: $font-title;
        text-align: center;
    }
    
    .form__input-error{
        border: solid 1px $color-red-light-1;
    }
}