.employee {
    width: 70vw;

    &__upper {
        display: flex;
        justify-content: space-between;
    }

    &__middle {
        display: flex;
        flex-flow: row;
        justify-content: start;
        align-items: center;

        margin-top: 2rem;
        font-size: 1.2rem;
    }

    &__action__button {
        display: flex;
    }

    &__add,
    &__detail,
    &__edit {
        &__content {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        &__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 3.5rem;
            margin: 2rem 0 2.5rem;
        }
    }

    &__detail {
        &__table {
            display: grid;
            grid-template-columns: repeat(2, 20rem);
            grid-column-gap: 5rem;
            margin: 2rem 0 2.5rem;
        }

        &__action__btn {
            display: flex;
            flex-flow: column;

            &:not(:last-child) {
                margin: 0.5rem;
            }

            &__upper {
                display: flex;
            }
        }

        &__image {
            display: flex;
            justify-content: center;
        }
    }

    &__upload {
        &__file {
            position: absolute;
            opacity: 0;
            visibility: hidden;

            &+label {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-primary;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1rem;
                background-color: rgba($color-grey-light-2, 0.5);
            }
        }

        &__btn {
            width: 2.2rem;
            height: 2.2rem;
            margin-right: .8rem;
            fill: $color-primary;
        }

    }

    &__preview {
        margin: 0;
        width: 320px;
        height: 320px;
        position: relative;
        background-image: url('../img/employees/noimage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__choose__supervisor,
    &__choose__division {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-white;

        &__btn {
            width: 1.2rem;
            height: 1.2rem;
            fill: $color-black;
        }
    }

    &__add__supervisor-popup {
        width: 90%;
    }

    &__list__supervisor,
    &__list__division {
        border: solid 1px #c8c8c8;
        font-size: 1.5rem;
        color: inherit;
        width: 100%;
        margin-bottom: 1.5rem;

        & option {
            padding: 0.5rem 1.2rem;
        }


    }



}



