.employee{
    width: 70vw;

    &__upper{
        display: flex;
        justify-content: space-between;
    }

    &__middle{
        display: flex;
        flex-flow: row;
        justify-content: start;
        align-items: center;

        margin-top: 2rem;
        font-size: 1.2rem;

        &__checkbox-all{
            margin-right: 1.2rem;
        }
    }

    &__action-button{
        display: flex;
    }

    
    &__add,
    &__detail,
    &__edit{
        &-content{    
            display: flex;
            align-content: center; 
            justify-content: space-between;   
        }
    
        &-form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);   
            grid-column-gap: 3.5rem;
            margin: 2rem 0 2.5rem;
        }
    }

    &__detail{
        &-table{
            display: grid;
            grid-template-columns: repeat(2, 25rem);   
            grid-column-gap: 5rem;
            margin: 2rem 0 2.5rem;
        }
    
        &__sku{
            grid-column: 1/-1;
        }
    
        &-action-btn{
            display: flex;
            flex-flow: column;
    
            &-upper{
                display: flex;
            }
        }
    }

    &__upload{
        &-file{
            position: absolute;
            opacity: 0;
            visibility: hidden;
    
            & + label{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-primary;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1rem;
                background-color: rgba($color-grey-light-2,0.5);
            }
        }
        
        &-btn{
            width: 2.2rem;
            height: 2.2rem;
            margin-right: .8rem;
            fill: $color-primary;
        }
        
    }
    
    &__preview{
        width: 320px;
        height: 320px;
        position: relative;
        background-image: url('../img/employees/noimage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}
  
  
  
  