
.sidebar{
    width:20vw;

    &__part{
        display: flex;
        flex-flow: column;
        align-items: start;
        height: inherit;
        background-color:$color-white;
        min-height: 88vh;
    }
    
    &__menu{
        list-style: none;
        margin-top: 1.8rem;
    }
    
    &__content{
        display: flex;
        align-items: center;
     
        &:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover a ,
        &:hover svg
        // ,
        // &__dashboard--active .sidebar__link ,
        // &__dashboard--active svg,
        // &__asset--active .sidebar__link ,
        // &__asset--active svg,
        // &__employee--active .sidebar__link ,
        // &__employee--active svg,
        // &__request--active .sidebar__link ,
        // &__request--active svg{
            {
            color: $color-primary;
            fill:$color-primary;
        }
    
    }
    
    &__link:link,
    &__link:visited{
        display: flex;
        align-items: center;
    
        
        text-decoration: none;
        font-size:1.4rem;
        font-weight: 600;
        color: $color-black;
        padding: 1.2rem 3rem;
    
    }
    
    &__icon{
        width: 3rem;
        height: 3rem;
        margin-right: 1.5rem;
        fill:$color-black;
    }
    
    
   
}

.active{
    color: $color-primary;
    fill:$color-primary;
}