*{
  margin : 0 ;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-black;
  min-height: 100vh;
  background-color: $color-grey-light-1;
}

.content{
  display: flex; 
}

.section{
  background-color: $color-white;
  padding: 3rem 4.5rem;
  border-radius: 3rem;
}

.main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
}
.main-content:not(:last-child){
    margin-bottom: 2rem;
}

.center{
  left: 50%;
    transform: translate(-50%,0%);
}