@import url("../../assets/css/base.css");
.status{ 
    background-color: var(--color-white);
    padding: 3rem 4.5rem;
    border-radius: 3rem;
    margin-top: 2rem;
}


.status__content{
    display: flex;
    justify-content: space-around;
}

.status__content__detail{
    display: flex;
    align-items: center;
}

.status__number{
    font-size: 4rem;
    color: var(--color-primary);
    margin-right: 1.5rem;
}

.status__text{
    font-size: 1.8rem;
    width: 12rem;
}

.new-request__top{
    display: flex;
    align-items: center;
    
}

.new-request__notif{
    font-size: 1.3rem;
    background-color: var(--color-primary);
    padding: 0.3rem 1.8rem;
    border-radius: 10rem;
    color: var(--color-white);
    margin-left: 1rem;
}