<link rel="stylesheet" href="../components/dashboardStatus/dashboardStatus.css">
<div class="status">
        <h2 class="title status__title">Status</h2>
        <div class="status__content">
            <div class="status__content__detail">
                <h3 class="status__number">1221</h3>
                <p class="status__text">New Asset Request</p>
            </div>
            <div class="status__content__detail">
                <h3 class="status__number">9283</h3>
                <p class="status__text">Pending Asset Handover</p>
            </div>
            <div class="status__content__detail">
                <h3 class="status__number">1238</h3>
                <p class="status__text">Available Asset</p>
            </div>
        </div>
 </div>