<script src="../../assets/js/asset/asset_delete.js"></script>
<link rel="stylesheet" href="../../assets/css/style.css">
<div class="section asset asset__delete">
    <h3 class="title asset__title">Asset list</h3>
    <div class="asset__upper">   
        <div class="cta-button asset__action-button">
            <div class="btn btn--small btn-with-icon btn--white btn-asset-list-delete">
                <svg class="action-icon-in-btn-white">
                    <use xlink:href="../../assets/img/sprite.svg#icon-garbage"></use>
                </svg>
                <span>Delete asset</span>
            </div>
            <div class="btn btn--small btn-with-icon btn--blue btn-asset-list-add">
                <svg class="action-icon-in-btn-blue">
                    <use xlink:href="../../assets/img/sprite.svg#icon-add"></use>
                </svg>
                <span>Add new asset</span>
            </div>
        </div>
        <form class="search asset__search">
            <svg class="action-icon search__icon">
                <use xlink:href="../../assets/img/sprite.svg#icon-magnifier"></use>
            </svg>
            <input type="text" class="search__input" placeholder="Search asset">
        </form>
    </div>
    <div class="asset__middle">
        <input type="checkbox" class="asset__middle__checkbox-all">
        <h3><span class="checkbox__total-text">0</span> assets on this page are selected</h3>
        <a href="#" class="cancel__text">Cancel</a>
    </div>
    <div class="asset__bottom">
        <div class="asset__list">
            <div class="table-title-asset-admin">
                <div class="table-title table-title-asset-admin-no">No</div>
                <div class="table-title table-title-asset-admin-name">Name</div>
                <div class="table-title table-title-asset-admin-brand">Brand</div>
                <div class="table-title table-title-asset-admin-type">Type</div>
                <div class="table-title table-title-asset-admin-location">Location</div>
                <div class="table-title table-title-asset-admin-qty">Qty</div>
                <div class="table-title table-title-asset-admin-view"></div>
                <div class="table-title table-title-asset-admin-edit"></div>
                <hr>
            </div>                      
            <div class="table-content-asset-admin">
                <!-- <div class="table-content-asset-admin-list" id="table-content-asset-admin-list--1">
                        <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--1">1</div>
                        <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                        <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                        <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                        <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                        <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                        <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                                <a href="#" class="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                    </svg>
                                </a>
                        </div>
                        <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                                <a href="#" id="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                     </svg>
                                </a>
                        </div>
                </div>  
                <div class="table-content-asset-admin-list">
                    <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--2">1</div>
                    <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                    <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                    <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                    <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                    <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                    <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                            <a href="#" class="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                </svg>
                            </a>
                    </div>
                    <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                            <a href="#" id="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                 </svg>
                            </a>
                    </div>
                </div>
                <div class="table-content-asset-admin-list">
                        <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                        <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                        <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                        <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                        <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                        <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                        <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                                <a href="#" class="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                    </svg>
                                </a>
                        </div>
                        <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                                <a href="#" id="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                     </svg>
                                </a>
                        </div>
                </div>  
                <div class="table-content-asset-admin-list">
                    <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                    <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                    <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                    <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                    <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                    <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                    <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                            <a href="#" class="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                </svg>
                            </a>
                    </div>
                    <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                            <a href="#" id="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                 </svg>
                            </a>
                    </div>
                </div>
                <div class="table-content-asset-admin-list">
                        <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                        <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                        <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                        <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                        <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                        <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                        <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                                <a href="#" class="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                    </svg>
                                </a>
                        </div>
                        <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                                <a href="#" id="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                     </svg>
                                </a>
                        </div>
                </div>  
                <div class="table-content-asset-admin-list">
                    <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                    <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                    <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                    <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                    <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                    <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                    <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                            <a href="#" class="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                </svg>
                            </a>
                    </div>
                    <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                            <a href="#" id="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                 </svg>
                            </a>
                    </div>
                </div>
                <div class="table-content-asset-admin-list">
                        <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                        <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                        <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                        <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                        <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                        <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                        <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                                <a href="#" class="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                    </svg>
                                </a>
                        </div>
                        <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                                <a href="#" id="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                     </svg>
                                </a>
                        </div>
                </div>  
                <div class="table-content-asset-admin-list">
                    <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                    <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                    <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                    <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                    <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                    <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                    <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                            <a href="#" class="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                </svg>
                            </a>
                    </div>
                    <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                            <a href="#" id="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                 </svg>
                            </a>
                    </div>
                </div>
                <div class="table-content-asset-admin-list">
                        <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                        <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                        <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                        <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                        <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                        <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                        <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                                <a href="#" class="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                    </svg>
                                </a>
                        </div>
                        <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                                <a href="#" id="action-button-blue">    
                                    <svg class="action-icon action-icon-blue">
                                        <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                     </svg>
                                </a>
                        </div>
                </div>  
                <div class="table-content-asset-admin-list">
                    <div class="table-content table-content-asset-admin-no"       id="table-content-asset-no--">1</div>
                    <div class="table-content table-content-asset-admin-name"     id="table-content-asset-name--">Laptop</div>
                    <div class="table-content table-content-asset-admin-brand"    id="table-content-asset-brand--">ASUS</div>
                    <div class="table-content table-content-asset-admin-type"     id="table-content-asset-type--">Inspiron 123</div>
                    <div class="table-content table-content-asset-admin-location" id="table-content-asset-location--">Cawang</div>
                    <div class="table-content table-content-asset-admin-qty"      id="table-content-asset-qty--">1 pcs</div>                                       
                    <div class="table-content table-content-asset-admin-icon" id="table-content-asset-view--">
                            <a href="#" class="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-binoculars"></use>
                                </svg>
                            </a>
                    </div>
                    <div class="table-content table-content-asset-icon" id="table-content-asset-pencils--">
                            <a href="#" id="action-button-blue">    
                                <svg class="action-icon action-icon-blue">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-pencil"></use>
                                 </svg>
                            </a>
                    </div>
                </div>     -->
            </div>
        </div>
    </div>     
    
    <div class='pagination-container'>
        <nav>
        <ul class="pagination">
            <li data-page="prev">
            <span> < <span class="sr-only">(current)</span></span>
            </li>
            <li data-page="next" id="next">
                <span> > <span class="sr-only">(current)</span></span>
            </li>
        </ul>
        </nav>
    </div>     
</div>