<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="shortcut icon" type="image/png" href="../../assets/img/favicon.png">

  <title>OASIS &mdash; Office Asset Inventory System</title>
</head>

<body>
  <nav class="navbar__part"></nav>
  <div class="content">
    <div class="sidebar__part"></div>
    <main class="main-content">
      <div class="section employee employee__add">
        <div class="employee__add-top">
          <h3 class="title employee__title">Add employee</h3>
        </div>

        <div class="employee__add__content">
          <div class="employee__add__left">
            <div class="employee__add__form">
              <div class="employee__add__name">
                <h4 class="title-small">Name</h4>
                <input type="text" class="form__input-small" id="form__employee__name" required>
                <h4 class="input__error" id="input__error__employeeName"></h4>
              </div>

              <div class="employee__add__dob">
                <h4 class="title-small">Date of Birth</h4>
                <input type="date" class="form__input-small" max="2002-12-31" min="1953-12-31" id="form__employee__dob"
                  onkeydown="return false" required>
                <h4 class="input__error" id="input__error__dob"></h4>
              </div>

              <div class="employee__add__location">
                <h4 class="title-small">Location</h4>
                <input type="text" class="form__input-small" id="form__employee__location" required>
                <h4 class="input__error" id="input__error__location"></h4>
              </div>

              <div class="employee__add__phone">
                <h4 class="title-small">Phone</h4>
                <input type="text" class="form__input-small" id="form__employee__phone" required>
                <h4 class="input__error" id="input__error__phone"></h4>
              </div>

              <div class="employee__add__job">
                <h4 class="title-small">Job Title</h4>
                <input type="text" class="form__input-small" id="form__employee__job" required>
                <h4 class="input__error" id="input__error__jobTitle"></h4>
              </div>

              <div class="employee__add__division">
                <h4 class="title-small">Division</h4>
                <button class="form__input-small employee__choose__division" id="form__employee__division">
                  -select division-
                  <svg class="employee__choose__division__btn">
                    <use xlink:href="../../assets/img/sprite.svg#icon-drop-down-arrow"></use>
                  </svg>
                </button>
                <select class="employee__list__division" size="3">
                  <option value="Technology">Technology</option>
                  <option value="Finance">Finance</option>
                  <option value="Operations">Operations</option>
                  <option value="Human Resources">Human Resources</option>
                  <option value="Marketing">Marketing</option>
                </select>
                <h4 class="input__error" id="input__error__division"></h4>
              </div>

              <div class="employee__add__supervisor">
                <h4 class="title-small">Supervisor</h4>
                <button class="form__input-small employee__choose__supervisor" id="form__employee__supervisor">
                  -select supervisor-
                  <svg class="employee__choose__supervisor__btn">
                    <use xlink:href="../../assets/img/sprite.svg#icon-drop-down-arrow"></use>
                  </svg>
                </button>
                <select class="employee__list__supervisor" size="3">
                </select>
                <h4 class="input__error" id="input__error__supervisor"></h4>
              </div>

            </div>
            <div class="btn btn--medium btn--blue center" id="add__employee__btn">Add employee</div>
          </div>
          <div class="employee__add-right">
            <div class="employee__add__image">
              <div class="employee__preview">
                <div id="employeePrievewImage"></div>
              </div>

              <div class="employee__upload">
                <form id="uploadEmployeeImageForm" method="POST" enctype="multipart/form-data">
                  <input name="file" type="file" id="uploadEmployeeImage" accept=".png,.jpg,.jpeg" class="employee__upload__file">
                  <label for="uploadEmployeeImage" class="employee__upload__link">
                    <svg class="employee__upload__btn">
                      <use xlink:href="../../assets/img/sprite.svg#icon-photo-camera"></use>
                    </svg>
                    <span>Upload photo</span>
                  </label>
                </form>
                <h4 class="input__error input__error-center" id="input__error__employeePhoto"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="popup__part">
      <div class="popup popup__confirmation popup__confirmation-password" style="display: none">
        <div class="popup__confirmation__content">
          <div class="popup__confirmation__upper">
            <h3 class="popup__confirmation__title">New Employee Information</h3>
            <a href="#" class="popup__close__button">
              <svg class="popup__close__icon">
                <use xlink:href="../../assets/img/sprite.svg#icon-unchecked"></use>
              </svg>
            </a>
          </div>
          <div class="popup__confirmation__bottom">
            <div class="popup__confirmation__texts">
              <h4 class="popup__confirmation__message">
                Employee has been successfully created. Now, the employee can log in with the following data
              </h4>
              <h4 class="popup__confirmation__message-center">
                <div class="popup__confirmation__message__username">Username : <p id="username__new"></p>
                </div>
                <div class="popup__confirmation__message__password">Password : <p>GDNddmmyyyy</p>
                </div>
              </h4>
            </div>
          </div>
          <div class="popup__confirmation__button">
            <div class="btn btn--popup btn--blue btn-confirmation-ok">Okay</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="module" src="../../assets/js/employee/employeeAdd.js"></script>
<script type="module" src="../../assets/js/base.js"></script>

</html>