<link rel="stylesheet" href="../../assets/css/style.css">

<div class="section asset asset__delete">
    <h3 class="title asset__title">Asset list</h3>
    <div class="asset__upper">
        <div class="cta-button asset__action__button">
            <div class="btn btn--small btn-with-icon btn--white btn-asset-list-delete">
                <svg class="action-icon-in-btn-white">
                    <use xlink:href="../../assets/img/sprite.svg#icon-garbage"></use>
                </svg>
                <span>Delete asset</span>
            </div>
        </div>
        <form class="search asset__search">
            <input type="text" class="search__input" name="search__asset" placeholder="search by sku oe asset name">
            <div class="btn btn--small btn--blue btn__search">
                <svg class="action-icon-in-btn-blue">
                    <use xlink:href="../../assets/img/sprite.svg#icon-magnifier"></use>
                </svg>
                <span>Search</span>
            </div>
        </form>
    </div>
    <div class="asset__footer">
        <div class="asset__middle">
            <input type="checkbox" class="asset__middle__checkbox-all">
            <h3><span class="checkbox__total-text">0</span> assets on this page are selected</h3>
            <a href="#" class="cancel__text">Cancel</a>
        </div>
        <div class="asset__bottom">
            <div class="asset__list">
                <div class="table-title-asset-no-btn">
                    <div class="table-title table-title-asset-no-btn-no"></div>
                    <div class="table-title table-title-asset-no-btn-name">Name</div>
                    <div class="table-title table-title-asset-no-btn-brand">Brand</div>
                    <div class="table-title table-title-asset-no-btn-type">Type</div>
                    <div class="table-title table-title-asset-no-btn-location">Location</div>
                    <div class="table-title table-title-asset-no-btn-qty">Qty</div>
                    <hr>
                </div>
                <div class="table-content-asset-no-btn">
                </div>
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>
<div class="popup__part"></div>

<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="module" src="../../assets/js/asset/assetDeleteSearch.js"></script>
<script type="module" src="../../assets/js/base.js"></script>