<div class="section asset asset__detail">
    <div class="asset__detail-top">
        <h3 class="title asset__title">Asset Detail</h3>
    </div>

    <div class="asset__detail__content">
        <div class="asset__detail__left">
            <div class="asset__detail__table">
                <div class="asset__detail__sku">
                    <h4 class="title-small">Asset ID</h4>
                    <p class="content-text text-asset__sku">Laptop</p>
                </div>
                <div class="asset__detail__name">
                    <h4 class="title-small">Name</h4>
                    <p class="content-text text-asset__name">Laptop</p>
                </div>

                <div class="asset__detail__brand">
                    <h4 class="title-small">Brand</h4>
                    <p class="content-text text-asset__brand">Laptop</p>
                </div>

                <div class="asset__detail__type">
                    <h4 class="title-small">Type</h4>
                    <p class="content-text text-asset__type">Laptop</p>
                </div>

                <div class="asset__detail__location">
                    <h4 class="title-small">Location</h4>
                    <p class="content-text text-asset__location">Laptop</p>
                </div>

                <div class="asset__detail__qty">
                    <h4 class="title-small">Quantity</h4>
                    <p class="content-text text-asset__qty">Laptop</p>
                </div>

                <div class="asset__detail__price">
                    <h4 class="title-small">Price</h4>
                    <p class="content-text text-asset__price">Laptop</p>
                </div>
                <div class="asset__detail__expendable">
                    <h4 class="title-small">Expendable</h4>
                    <p class="content-text text-asset__expendable">Laptop</p>
                </div>
            </div>
        </div>
        <div class="asset__detail-right">
            <div class="asset__detail__image">
                <div class="asset__preview">
                    <div id="assetPrievewImage"></div>
                </div>
            </div>

            <div class="asset__detail__action__btn">
                <div class="asset__detail__action__btn__upper">
                    <div class="btn btn--medium btn-with-icon btn--white btn-asset-detail-edit">
                        <svg class="action-icon-in-btn-white">
                            <use xlink:href="../../assets/img/sprite.svg#icon-edit"></use>
                        </svg>
                        <span>Edit asset</span>
                    </div>
                    <div class="btn btn--medium btn-with-icon btn--white btn-asset-detail-delete">
                        <svg class="action-icon-in-btn-white">
                            <use xlink:href="../../assets/img/sprite.svg#icon-garbage"></use>
                        </svg>
                        <span>Delete asset</span>
                    </div>
                </div>
                <div class="asset__detail-action-btn-bottom">
                    <div class="btn btn--medium btn-with-icon btn--white btn-asset-detail-print">
                        <svg class="action-icon-in-btn-white">
                            <use xlink:href="../../assets/img/sprite.svg#icon-print"></use>
                        </svg>
                        <span>Print asset</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup__part"></div>
<script type="module" src="../../assets/js/asset/assetDetail.js"></script>
<script type="module" src="../../assets/js/base.js"></script>
