<div class="section status">
    <h2 class="title status__title">Status</h2>
    <div class="status__content">
        <div class="status__content__detail">
            <h3 class="status__number" id="status__new-asset-total">1221</h3>
            <p class="status__text">New Asset Request</p>
        </div>
        <div class="status__content__detail">
            <h3 class="status__number" id="status__pending-asset-total">9283</h3>
            <p class="status__text">Pending Asset Handover</p>
        </div>
        <div class="status__content__detail">
            <h3 class="status__number" id="status__available-asset-total">1238</h3>
            <p class="status__text">Available Asset</p>
        </div>
    </div>
</div>