<script src="../../assets/js/dashboard/dashboardNewAssetRequest.js"></script>

<div class="new-request">
    <div class="new-request__top">
        <h2 class="title new-request__title">New Asset Request</h2>
        <p class="new-request__notif" id="new-request-asset-total">5</p>
    </div>
    <div class="new-request__down">
        <div class="table-title-new-request-admin">
            <div class="table-title table-title-new-request-admin-name">Name</div>
            <div class="table-title table-title-new-request-admin-asset">Requested Asset</div>
            <div class="table-title table-title-new-request-admin-qty">Qty</div>
            <div class="table-title table-title-new-request-admin-note">Notes</div>
            <div class="table-title table-title-new-request-admin-accept"></div>
            <div class="table-title table-title-new-request-admin-reject"></div>
            <hr>
        </div>
        <div class="table-content-new-request-admin">
        </div>
    </div>
</div>