.pagination {
    display: flex;
    justify-content: center;
    align-content: center;

    padding-left: 0;
    margin: 3rem 0;
    border-radius: 4px;

    & li:hover{
        cursor: pointer;
    }

    &>.pagination__active{
        &>a,
        &>span{
            position: relative;
            float: left;
            padding: .6rem 1.2rem;
            margin-left: -.1rem;
            line-height: 1.6;
            text-decoration: none;
            color: #fff;
            cursor: default;
            background-color:$color-primary;
            border-color: 1px solid  $color-primary;
        }
    }

    &>li:not(.pagination__active) {
        display: inline;

        &>a,
        &>span {
            position: relative;
            float: left;
            padding: .6rem 1.2rem;
            margin-left: -.1rem;
            line-height: 1.42857143;
            color: $color-primary;
            text-decoration: none;
            background-color: $color-white;
            border: 1px solid $color-grey-light-2;

            &:focus,
            &:hover{    
                z-index: 2;
                color:$color-primary;
                background-color: $color-grey-light-2;
                border-color: $color-grey-light-2;
            }
        }
    }    
}





.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}