.search{    
    margin-top: 2rem;
    border-radius: 10rem;
    border: solid 0.1rem #0095DA;
    padding-left: 2rem;
    display: flex;
    align-items: center;

    display: flex;
    align-items: center;


    &__icon{
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-primary;
        margin-right: 1rem;
    }

    &__input{
        border: none;
        font-family: $font-title;
        color: $color-primary;
        padding-right: 1.5rem;

        &::placeholder{
             font-family: $font-title;
             color: $color-primary;
        }

        &:focus{
            outline: none;
        }
    }
}