.table-title {
    &-new-request-admin {
        margin-top: 2rem;
        font-size: 1.4rem;

        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-gap: 1rem;

        &-name {
            grid-column: 1/span 3;
        }

        &-asset {
            grid-column: 4/span 3;
        }

        &-qty {
            grid-column: 7/span 1;
        }

        &-note {
            grid-column: 8/span 4;
        }
    }

    &-asset {

        &-admin,
        &-request {
            margin-top: 2rem;
            font-size: 1.4rem;
            display: grid;
            grid-template-columns: repeat(16, 1fr);

            &-no {
                grid-column: 1;
            }

            &-name {
                grid-column: 2/span 3;
            }

            &-brand {
                grid-column: 5/span 3;
            }

            &-type {
                grid-column: 8/span 3;
            }

            &-location {
                grid-column: 11/span 2;
            }

            &-qty {
                grid-column: 13/span 2;
            }

            &-view {
                grid-column: 14;
            }

            &-edit {
                grid-column: 15;
            }
        }

    }

    &-employee-admin {
        margin-top: 2rem;
        font-size: 1.4rem;
        display: grid;
        grid-gap: 1.8rem;
        grid-template-columns: repeat(13, 1fr) repeat(3, 2rem);

        &-no {
            grid-column: 1;
        }

        &-name {
            grid-column: 2/span 4;
        }

        &-job {
            grid-column: 6/span 3;
        }

        &-location {
            grid-column: 9/span 2;
        }

        &-supervisor {
            grid-column: 11/span 3;
        }

        &-view {
            grid-column: 14;
        }

        &-edit {
            grid-column: 15;
        }

        &-delete {
            grid-column: 16;
        }
    }

    &-request {
        &-my {
            &-all {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(18, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                }

                &-status {
                    grid-column: 10/span 2;
                }

                &-issuedBy {
                    grid-column: 12/span 3;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }
            }

            &-no-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(16, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                }

                &-issuedBy {
                    grid-column: 10/span 3;
                }

                &-lastUpdate {
                    grid-column: 13/span 4;
                }
            }

            &-with-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(17, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                }

                &-issuedBy {
                    grid-column: 10/span 3;
                }

                &-lastUpdate {
                    grid-column: 13/span 4;
                }

                &-actionBtn {
                    grid-column: 17;
                }
            }
        }

        &-others {
            &-all {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(21, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-employee {
                    grid-column: 2/span 4;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                }

                &-status {
                    grid-column: 15/span 3;
                }

                &-lastUpdate {
                    grid-column: 18/span 4;
                }
            }

            &-one-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(19, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-employee {
                    grid-column: 2/span 4;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }

                &-actionBtn {
                    grid-column: 19;
                }
            }

            &-two-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(20, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-employee {
                    grid-column: 2/span 4;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }

                &-actionBtn1 {
                    grid-column: 19;
                }

                &-actionBtn2 {
                    grid-column: 20;
                }
            }

            &-no-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(18, 1fr);
                grid-gap: 1rem;

                &-no {
                    grid-column: 1;
                }

                &-employee {
                    grid-column: 2/span 4;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }
            }
        }
    }

}

.table-content {

    &-new-request-admin {

        &-list {
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            grid-gap: 1rem;
            margin-top: 2rem;
            font-size: 1.3rem;
        }

        &-name {
            grid-column: 2/span 2;
        }

        &-asset {
            grid-column: 4/span 3;
        }

        &-qty {
            grid-column: 7/span 1;
        }

        &-note {
            grid-column: 8/span 4;
            font-size: 1.2rem;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-asset {

        &-admin,
        &-request {
            &-list {
                display: grid;
                grid-template-columns: repeat(16, 1fr);
                grid-gap: 1rem;
                margin-top: 2rem;
                font-size: 1.3rem;
            }

            &-no {
                grid-column: 1;
            }

            &-name {
                grid-column: 2/span 3;
            }

            &-brand {
                grid-column: 5/span 3;
            }

            &-type {
                grid-column: 8/span 3;
            }

            &-location {
                grid-column: 11/span 2;
            }

            &-qty {
                grid-column: 13/span 2;
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

    &-employee-admin {
        &-list {
            margin-top: 2rem;
            font-size: 1.4rem;
            display: grid;
            grid-gap: 1.8rem;
            grid-template-columns: repeat(13, 1fr) repeat(3, 2rem);
        }

        &-no {
            grid-column: 1;
        }

        &-photo {
            grid-column: 2;
        }

        &-name {
            grid-column: 3/span 3;
        }

        &-job {
            grid-column: 6/span 3;
        }

        &-location {
            grid-column: 9/span 2;
        }

        &-supervisor {
            grid-column: 11/span 3;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-request {
        &-my {
            &-all {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(18, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 2.5rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                    font-size: 1.2rem;
                }

                &-status {
                    grid-column: 10/span 2;
                }

                &-issuedBy {
                    grid-column: 12/span 3;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }
            }

            &-no-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(16, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 2.5rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                    font-size: 1.2rem;
                }

                &-issuedBy {
                    grid-column: 10/span 3;
                }

                &-lastUpdate {
                    grid-column: 13/span 4;
                }
            }

            &-with-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(17, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 2.5rem;

                &-no {
                    grid-column: 1;
                }

                &-asset {
                    grid-column: 2/span 3;
                }

                &-qty {
                    grid-column: 5;
                }

                &-note {
                    grid-column: 6/span 4;
                    font-size: 1.2rem;
                }

                &-issuedBy {
                    grid-column: 10/span 3;
                }

                &-lastUpdate {
                    grid-column: 13/span 4;
                }

                &-actionBtn {
                    grid-column: 17;
                }
            }
        }

        &-others {
            &-all {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(21, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.5rem;

                &-no {
                    grid-column: 1;
                }

                &-photo {
                    grid-column: 2;
                }

                &-employee {
                    grid-column: 3/span 3;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                    font-size: 1.2rem;
                }

                &-status {
                    grid-column: 15/span 3;
                }

                &-lastUpdate {
                    grid-column: 18/span 4;
                }
            }

            &-one-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(19, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.5rem;

                &-no {
                    grid-column: 1;
                }

                &-photo {
                    grid-column: 2;
                }

                &-employee {
                    grid-column: 3/span 3;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                    font-size: 1.2rem;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }

                &-actionBtn {
                    grid-column: 19;
                }
            }

            &-two-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(20, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.5rem;

                &-no {
                    grid-column: 1;
                }

                &-photo {
                    grid-column: 2;
                }

                &-employee {
                    grid-column: 3/span 3;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                    font-size: 1.2rem;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }

                &-actionBtn1 {
                    grid-column: 19;
                }

                &-actionBtn2 {
                    grid-column: 20;
                }
            }

            &-no-btn {
                margin-top: 2rem;
                font-size: 1.4rem;

                display: grid;
                grid-template-columns: repeat(18, 1fr);
                grid-column-gap: 1.2rem;
                grid-row-gap: 1.5rem;

                &-no {
                    grid-column: 1;
                }

                &-photo {
                    grid-column: 2;
                }

                &-employee {
                    grid-column: 3/span 3;
                }

                &-asset {
                    grid-column: 6/span 4;
                }

                &-qty {
                    grid-column: 10;
                }

                &-notes {
                    grid-column: 11/span 4;
                    font-size: 1.2rem;
                }

                &-lastUpdate {
                    grid-column: 15/span 4;
                }
            }
        }
    }

}

hr {
    grid-column: 1/-1;
    grid-row: 2;
    border-width: .05rem;
}

