
<nav class="sidebar">
                <ul class="sidebar__menu">
                    <li class="sidebar__content--active">
                        <a href="#" class="sidebar__link">
                            <svg class="sidebar__icon">
                                <use xlink:href="../../assets/img/sprite.svg#icon-layers"></use>
                            </svg>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar__content">
                        <a href="#" class="sidebar__link">
                            <svg class="sidebar__icon">
                                <use xlink:href="../../assets/img/sprite.svg#icon-diamond"></use>
                            </svg>
                            <span>Asset</span>
                        </a>
                    </li>
                    <li class="sidebar__content">
                            <a href="#" class="sidebar__link">
                                <svg class="sidebar__icon">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-users"></use>
                                </svg>
                                <span>Employee</span>
                            </a>
                    </li>
                    <li class="sidebar__content">
                            <a href="#" class="sidebar__link">
                                <svg class="sidebar__icon">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-inbox"></use>
                                </svg>
                                <span>Request</span>
                            </a>
                    </li>
                </ul>
</nav>