
<nav class="sidebar">
                <ul class="sidebar__menu">
                    <li class="sidebar__content sidebar__content__dashboard">
                        <a href="../../views/dashboard.html" class="sidebar__link sidebar__link__dashboard">
                            <svg class="sidebar__icon sidebar__icon__dashboard ">
                                <use xlink:href="../../assets/img/sprite.svg#icon-layers"></use>
                            </svg>
                            <h3 class="sidebar__text__dashboard">Dashboard</h3>
                        </a>
                    </li>
                    <li class="sidebar__content sidebar__content__asset">
                        <a href="../../views/asset.html" class="sidebar__link sidebar__link__asset">
                            <svg class="sidebar__icon sidebar__icon__asset">
                                <use xlink:href="../../assets/img/sprite.svg#icon-diamond"></use>
                            </svg>
                            <h3 class="sidebar__text__asset">Asset</h3>
                        </a>
                    </li>
                    <li class="sidebar__content sidebar__content__employee">
                            <a href="#" class="sidebar__link sidebar__link__employee">
                                <svg class="sidebar__icon sidebar__icon__employee">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-users"></use>
                                </svg>
                                <h3 class="sidebar__text__employee">Employee</h3>
                            </a>
                    </li>
                    <li class="sidebar__content sidebar__content__request">
                            <a href="#" class="sidebar__link sidebar__link__employee">
                                <svg class="sidebar__icon sidebar__icon__employee">
                                    <use xlink:href="../../assets/img/sprite.svg#icon-inbox"></use>
                                </svg>
                                <h3 class="sidebar__text__request">Request</h3>
                            </a>
                    </li>
                </ul>
</nav>