$color-primary:#0095DA;
$color-black: #555555;
$color-grey-dark : #9F9F9F;
$color-grey-light-1 : #F7F7F7;
$color-grey-light-2: #c8c8c8;
$color-grey-light-3: #d6d6c6;
$color-white:#fff;
$color-red-dark:#F12020;
$color-red-light-1:#E83636;
$color-red-light-2:#DB4C4C;

$font-title:"Palanquin",sans-serif;
$font-text:"Open Sans",sans-serif;
